:root{
	--color-bg: rgb(48, 50, 53);
	--color-gray: rgb(100, 102, 105);
	--color-darkRray: rgb(34, 36, 38);
	--color-yellow: rgb(226, 183, 18);
	--color-white: rgb(209, 208, 197);
}

body{
	background-color: var(--color-bg);
}

.header-container{
	margin: 1vw;
	padding-bottom: 1vh;
	border-bottom: 1px solid var(--color-gray);
}
#name{
	width: 50vw;
	color: var(--color-yellow);
	margin: 0;
	padding-left: 5px;
	font-size: 5vh;
}

#caption{
	width: 50vw;
	color: var(--color-gray);
	margin: 0;
	padding-left: 5px;
	font-size: 2vh;
}

.fa-solid{
	color: var(--color-gray);
	position: absolute;
	right: 1vw;
	top: 2.5vh;
}

.fa-solid:hover{
	color: var(--color-white);
}

.table-wrapper{
	padding-left: 1vw;
	padding-right: 1vw;
	padding-top: 1vh;
	margin: 0;
	color: var(--color-white);
}

.table-users{
	width: 100%;
	border-collapse: collapse;
	font-size: 3vh;
}

.table-users th, .table-users td{
	text-align: center;
	padding: .5rem;
}

.table-users td{
	border-bottom: 1px solid var(--color-gray);
}

.table-users th{
	background-color: var(--color-darkRray);
}

.tab{
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: var(--color-yellow);
	color: var(--color-bg); 
	width: 100vw;
	height: 10vh;
	text-align: center;
	font-size: 8vh;
}

.tab:hover{
	color: var(--color-white);
}
